body{background: #d7b9f0;
}

{"banner"  src="banner.jpg">
}

.imagem2{
width: 75px;
height: 75px;
}

h1 {
   text-align:center
   color:  
}
   em strong {color:rgb(50, 14, 83)}  

#missao {font-size: 20px; text-align:center
}

p {text-align:center;
   color:rgb(124, 81, 167)7)
}

em strong {color:blueviolet}

.itens{
   list-style: none;
}

li::marker{
   content: "\03A8"
}

ul{
   display:inline-block;
   vertical-align: top;
   margin: 120px;
   
}