body{background: #d7b9f0;
}

{"banner"  src="banner.jpg">
}

h1 {text-align:center 
}
   em strong {color:rgb(50, 14, 83)}  

#missao {font-size: 20px; text-align:center
}

p {text-align:center;
   color:rgb(124, 81, 167)7)
}

em strong {color:blueviolet}